In [1]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df = pd.read_csv('final_df.csv')
em = pd.read_csv('emj.csv')

In [3]:
df = df.drop(['duration', 'watch_time'], axis=1)

In [4]:
df
em

                user_id        item_id  is_autorized  is_watched
0         user_15057892  video_1989987             0           1
1          user_8293675   video_331810             0           5
2           user_325285   video_523098             0           1
3         user_11178664   video_833222             0           1
4         user_26782853   video_863791             0           5
...                 ...            ...           ...         ...
29963734   user_5350303   video_937559             0           5
29963735  user_11895299   video_853811             0           5
29963736   user_3507470   video_464555             0           5
29963737  user_13128840   video_420973             0           1
29963738   user_5633301   video_733559             0           1

[29963739 rows x 4 columns]

,user_id,item_id,type_neg_emotions,type_pos_emotions,type_v_top
0,user_21883648,video_2247834,0,0,1
1,user_24016046,video_2247834,0,0,1
2,user_20748867,video_22669,0,0,1
3,user_21545120,video_645471,0,0,1
4,user_28987830,video_2346806,0,0,1
...,...,...,...,...,...
369424,user_21597217,video_1180057,0,1,0
369425,user_6805283,video_1180057,0,1,0
369426,user_5419928,video_1180057,0,1,0
369427,user_12044809,video_1180057,0,1,0
369428,user_29042253,video_1180057,1,0,0

In [5]:
merged_df = df.merge(em, on=['user_id', 'item_id'], how='left')

In [6]:
merged_df

,user_id,item_id,is_autorized,is_watched,type_neg_emotions,type_pos_emotions,type_v_top
0,user_15057892,video_1989987,0,1,NaN,NaN,NaN
1,user_8293675,video_331810,0,5,NaN,NaN,NaN
2,user_325285,video_523098,0,1,NaN,NaN,NaN
3,user_11178664,video_833222,0,1,NaN,NaN,NaN
4,user_26782853,video_863791,0,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...
30075209,user_5350303,video_937559,0,5,NaN,NaN,NaN
30075210,user_11895299,video_853811,0,5,NaN,NaN,NaN
30075211,user_3507470,video_464555,0,5,NaN,NaN,NaN
30075212,user_13128840,video_420973,0,1,NaN,NaN,NaN
30075213,user_5633301,video_733559,0,1,NaN,NaN,NaN

In [7]:
merged_df.fillna(0, inplace=True)

In [8]:
merged_df

,user_id,item_id,is_autorized,is_watched,type_neg_emotions,type_pos_emotions,type_v_top
0,user_15057892,video_1989987,0,1,0.0,0.0,0.0
1,user_8293675,video_331810,0,5,0.0,0.0,0.0
2,user_325285,video_523098,0,1,0.0,0.0,0.0
3,user_11178664,video_833222,0,1,0.0,0.0,0.0
4,user_26782853,video_863791,0,5,0.0,0.0,0.0
...,...,...,...,...,...,...,...
30075209,user_5350303,video_937559,0,5,0.0,0.0,0.0
30075210,user_11895299,video_853811,0,5,0.0,0.0,0.0
30075211,user_3507470,video_464555,0,5,0.0,0.0,0.0
30075212,user_13128840,video_420973,0,1,0.0,0.0,0.0
30075213,user_5633301,video_733559,0,1,0.0,0.0,0.0

In [9]:
merged_df['rating'] = 0

In [10]:
merged_df

,user_id,item_id,is_autorized,is_watched,type_neg_emotions,type_pos_emotions,type_v_top,rating
0,user_15057892,video_1989987,0,1,0.0,0.0,0.0,0
1,user_8293675,video_331810,0,5,0.0,0.0,0.0,0
2,user_325285,video_523098,0,1,0.0,0.0,0.0,0
3,user_11178664,video_833222,0,1,0.0,0.0,0.0,0
4,user_26782853,video_863791,0,5,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...
30075209,user_5350303,video_937559,0,5,0.0,0.0,0.0,0
30075210,user_11895299,video_853811,0,5,0.0,0.0,0.0,0
30075211,user_3507470,video_464555,0,5,0.0,0.0,0.0,0
30075212,user_13128840,video_420973,0,1,0.0,0.0,0.0,0
30075213,user_5633301,video_733559,0,1,0.0,0.0,0.0,0

In [11]:
conditions = {
    (1, 0, 5, 0): 5,
    (0, 1, 5, 0): 2,
    (1, 0, 1, 0): 3,
    (0, 1, 1, 0): 1,
    (0, 0, 1, 1): 2,
    (0, 0, 5, 1): 5,
    (1, 0, 5, 1): 5,
    (0, 1, 5, 1): 3,
    (1, 0, 1, 1): 4,
    (0, 1, 1, 1): 1,
    (0, 0, 1, 0): 1,
    (0, 0, 5, 0): 5
}

merged_df['rating'] = np.select([merged_df[['type_pos_emotions', 'type_neg_emotions', 'is_watched', 'type_v_top']].apply(tuple, axis=1).isin(conditions.keys())], [merged_df[['type_pos_emotions', 'type_neg_emotions', 'is_watched', 'type_v_top']].apply(tuple, axis=1).map(conditions)], default=0)

In [16]:
merged_df.sample(25)

,user_id,item_id,is_autorized,is_watched,type_neg_emotions,type_pos_emotions,type_v_top,rating
19251792,user_22034566,video_55614,0,1,0.0,0.0,0.0,1
6960937,user_28054038,video_266479,1,1,0.0,0.0,1.0,2
15114244,user_22039419,video_1722513,0,5,0.0,0.0,0.0,5
13209141,user_8163108,video_1345165,0,1,0.0,0.0,0.0,1
7616541,user_25609517,video_888086,0,5,0.0,0.0,0.0,5
25887990,user_25374974,video_2237701,0,1,0.0,0.0,0.0,1
712179,user_28834056,video_1604145,0,5,0.0,0.0,0.0,5
27692839,user_27029545,video_830290,0,5,0.0,0.0,0.0,5
9822646,user_15870860,video_1383994,0,5,0.0,0.0,0.0,5
14338069,user_4291621,video_1508623,0,1,0.0,0.0,0.0,1
5808047,user_585268,video_1323037,0,1,0.0,0.0,0.0,1
18002735,user_15695033,video_1078688,0,5,0.0,0.0,0.0,5
2633035,user_18130605,video_1896223,0,1,0.0,0.0,0.0,1
1536612,user_1403896,video_2125994,1,1,0.0,0.0,1.0,2
7105844,user_8496275,video_318057,0,5,0.0,0.0,0.0,5
13504590,user_3199734,video_367816,0,1,0.0,0.0,0.0,1
10742458,user_577766,video_2292698,0,1,0.0,0.0,0.0,1
23789481,user_16783526,video_367330,0,1,0.0,0.0,0.0,1
24449788,user_11632802,video_1927845,0,1,0.0,0.0,0.0,1
20581055,user_10468123,video_2049979,0,5,0.0,0.0,0.0,5
29254816,user_8553058,video_283933,0,1,0.0,0.0,0.0,1
29227788,user_395756,video_1621535,0,1,0.0,0.0,0.0,1
6574297,user_24846757,video_1544753,0,1,0.0,0.0,0.0,1
19437072,user_22171404,video_170733,0,1,0.0,0.0,0.0,1
25909353,user_3997607,video_889838,0,5,0.0,0.0,0.0,5

In [19]:
parts = np.array_split(merged_df, 4)
for i, part in enumerate(parts):
    part.to_csv(f'emj_df{i+1}.csv', index=False)